<!DOCTYPE html>
<html>
<head>
    <title>Patient Portal</title>
     <style>
    body {
        font-family: Times New Roman, serif;
        background-color: white;
    }
    h1 {
        color: black;
        text-align: center;
    }
    p {
        text-align: left;
        margin-left: 20px;
    }
    a {
        color: green;
        text-decoration: none;
    }
    </style>
</head>
<body>
    <h1>Welcome to the Patient Portal!</h1>
    <p><a href="/login">Login</a> | <a href="/register">Register</a></p>
</body>
</html>